# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
seap-server

# Test binary
*.test

# Output
*.out

# Go workspace file
go.work

# Environment variables
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

